@font-face {
  font-family: "Zabars";
  src: url("../fonts/zabars.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background.webp);
  background-size: cover;
  font-family: "Zabars";
  color: white;
  font-size: 16px;
  min-height: 100vh;
}

canvas {
  border-radius: 15px;
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: sans-serif;
  font-size: 12px;
  padding: 1rem;
  text-align: center;
}

dialog {
  border: solid #a43d18 0.125rem;
  font-family: sans-serif;
  border-radius: 1.5rem;
  background-color: #fed784;
}

dialog button.btn {
  font-size: inherit;
}

dialog a {
  color: #000;
}

dialog a:hover {
  color: #666;
}

a {
  cursor: pointer;
  color: #ffc32b;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#rotate-phone {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  position: relative;
  height: 480px;
}

#canvas-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#hud {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

#hud img {
  cursor: pointer;
}

#hud .top,
#hud .bottom .left,
#hud .bottom .right {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

#hud .bottom {
  display: none;
  justify-content: space-between;
}

.game-screen {
  position: absolute;
  top: 0;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  font-size: 2rem;
  letter-spacing: 0.075rem;
}

.game-screen.start {
  background-image: url("../img/9_intro_outro_screens/start/startscreen_1.png");
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #232323;
  gap: 1rem;
}

.game-screen.start .story {
  border: solid #a43d18 0.125rem;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: #fed784;
}

.game-screen.win {
  background-image: url("../img/9_intro_outro_screens/game_over/game over.png");
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.game-screen.lose {
  background-image: url("../img/9_intro_outro_screens/game_over/oh no you lost!.png");
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#keys {
  width: 720px;
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
}

.key {
  height: 48px;
}

.d-none {
  display: none !important;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.btn {
  cursor: pointer;
  background: #ffc32b;
  background-image: linear-gradient(
    180deg,
    rgba(255, 198, 33, 1) 0%,
    rgba(255, 220, 0, 1) 50%,
    rgba(255, 160, 0, 1) 100%
  );
  border-radius: 0.5rem;
  color: #000;
  font-size: 2rem;
  font-family: inherit;
  padding: 0.25rem 3rem;
  border: solid #a43d18 0.125rem;
  text-decoration: none;
}

.btn:hover {
  filter: brightness(90%);
}

@media only screen and (max-width: 1000px) {
  #keys {
    display: none;
  }
  #hud .bottom {
    display: flex;
  }
}

@media only screen and (max-height: 480px) {
  #app {
    height: 100vh;
  }
  canvas {
    height: 100%;
    border-radius: 0;
  }
}

@media only screen and (max-height: 580px) {
  footer {
    display: none;
  }
  #hud {
    padding: 0.5rem;
  }
}
